:root {
    --primary-color: #12c2b9;
    --secondary: #dbfffe;
    --black: #141414;
    --white: #fff;
    --box-shadow: 0 .7rem 1rem rgba(0, 0, 0, 0.6);
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.section-header h1 {
    position: relative;
    font-size: 32px;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 20px;
}

.section-header h1::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    left: 0;
    top: calc(100 + 5px);
    background-color: #12c2b9;
}

.section-header h1::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    left: 0;
    top: calc(100 + 5px);
    background-color: #12c2b9;
}

.section-header p {
    color: black;
    margin-bottom: 40px;
    max-width: 700px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #dcf4f3;
    /*for whole body background color*/
}

html {
    font-size: 66%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/*--- header section starts---*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    box-shadow: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background-color: #12c2b9;
    /*---header color*/
    z-index: 100;
}

.header .logo {
    font-size: 2.3rem;
    font-weight: bolder;
    color: black;
    /* learning with me */
}

/* .header-logo i {
    color: black;
    padding-right: .5rem;
} */

.header .navbar a{
    font-size: 1.6rem;
    color: black;
    margin: 0 2rem;
}

.navbar a:hover{
    transition: all .3s linear;
    color: rgb(0, 67, 105);
    /*for header word size*/
    
    text-decoration: underline;
    max-width: max-content;
    width: 100%;
    border-block: .1rem solid var(blue);
    opacity: rgba(0, 0, 0, 0.1rem);
    content: '';
    position: sticky;
    top: calc(100% +2px);
    
}


.menu-btn{
    min-width: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: #033535;
    display: none;
    /*that icon beside get started*/
}

.menu-btn span{
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dbfffe;
    border-radius: 5px;
    transition: all 0.4s;
}

.menu-btn span::before,
.menu-btn span::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: #dbfffe;
    transition: all 0.4s;

}

.menu-btn span::before {
    transform: translateY(-9px);
}

.menu-btn span::after {
    transform: translateY(9px);
}

/*banner section starts*/
.banner {
    width: 100%;
    min-height: 100vh;
    padding: 100px 8% 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner.banner-desc {
    position: relative;
    flex-basis: 50%;
    max-width: 700px;
    z-index: 2;
}

.banner-desc h2 {
    font-size: 35px;
    color: black;
    letter-spacing: 1.4;
    margin-bottom: 10px;
}

.banner-desc p {
    color: black;
    line-height: 1.4;
    margin-bottom: 50px;
}

/*button styling starts*/
button.get-started-btn{
    padding: 10px 18px;
    background-color: #23c6be;
    color: #000000;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
   
}

button.btn:hover {
    background-color: rgb(189, 30, 30);
    color: rgb(255, 255, 255);
    border: 1px solid ;
    transition: all 0.3s ease;
    font-size: 1.6rem;
    text-decoration: underline;
    content: '';
    position: sticky;

}

/*button styling ends*/

.banner.banner-img {
    position: relative;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    margin-top: 4000rem;

}

.banner-img.banner-img-container {
    position: relative;
    width: 100px;
    z-index: 2;


}

.banner-img.banner-img-container img {
    width: 90%;
    height: auto;
    border-style: 1.5rem solid black;
}

.banner-img.banner-img-container .states {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.total-courses {
    position: absolute;
    padding: 6px 10px 6px 6px;
    background-color: #12c2b9;
    border-radius: 5px;
    border: 0.2rem solid black;
    bottom: 9%;
    left: 550px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgba(26, 91, 89, 0.2);

}

.icon {
    width: 50px;
    height: 40px;
    border-radius: 50%;
    border: 0.2rem solid black;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12c2b9;
    margin-right: 7px;
}

.states.total-courses .icon i {
    font-size: 22px;
    color: #12c2b9;
}

.states.total-courses .desc {
    display: flex;
    flex-direction: column;
}

.states.total-courses .desc span:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.states.total-courses .desc span:nth-child(2) {
    font-size: 15px;
    color: #12c2b9;
}

.courses-ratings {
    position: absolute;
    width: 90px;
    height: 90p;
    padding: 10px;
    margin-top: 6rem;
    margin-right: 9rem;
    ;
    border-radius: 50px;
    background-color: #12c2b9;
    display: flex;
    border: 0.2rem solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80px;
    right: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}


.courses-ratings span:nth-child(1) {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.courses-ratings span:nth-child(1) i {
    color: gold;
    font-size: 14px;
}

.courses-ratings span:nth-child(2) {
    color: black;
    font-size: 15px;
    text-align: center;
}

.pattern {
    position: absolute;
    top: 100px;
    left: 500px;
    z-index: -1;
}

.pattern img {
    width: 200px;
    height: auto;
    opacity: 0.4;
}


/*banner section ends*/



/* service section starts*/

section.services {
    width: 100%;
    padding: 100px 8% 20px;
}

.services .services-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fafdfd;


}

.services-contents .service-box {
    flex-basis: calc(calc(100% / 3) - 2%);
    padding: 25px 20px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #12c2b9;
}

.services-contents .service-box:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.9);
}

.service-box .service-icon {
    width: 50px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: #12c2b9;
    outline: 1px solid var(--primary-color);
    border: 2px solid black;
    outline-offset: 1.2px;
}

.service-box .service-icon i {
    font-size: 24px;
    color: black;
}

.service-box .service-desc {
    margin-top: 25px;

}

.service-box .service-desc h2 {
    margin-bottom: 10px;
    color: black;
    text-decoration: underline;
    font-size: 22px;

}

.service-box .service-desc p {
    line-height: 1.4;
    color: black;
}

.service-box:nth-child(1) .service-icon {
    background-color: #12c2b9;
    outline-color: black;
}

.service-box:nth-child(1) .service-icon i {
    color: red;
}

.service-box:nth-child(2) .service-icon {
    background-color: #12c2b9;
    outline-color: black;
}

.service-box:nth-child(2) .service-icon i {
    color: green;
}

.service-box:nth-child(3) .service-icon {
    background-color: lightblue;
    outline-color: black;
}

.service-box:nth-child(3) .service-icon i {
    color: blue;
}

/*service section ends*/

/*courses section starts*/
section.courses {
    width: 100%;
    padding: 100px 8% 20px;
 
}

.courses .section-header {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.courses .section-header  p{
    font-size: 13px;
}

.courses .section-header a{
    position: absolute;
    right: 0;
    bottom: 40px;
    padding: 10px 26px;
    background-color:rgb(189, 30, 30);
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

.courses .section-header a:hover {
    background-color:rgb(189, 30, 30);
    font-size:17px ;
}

.courses .course-contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.courses .course-contents .course-card {
    flex-basis: calc(calc(100% / 3) - 1.2%);
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.courses .course-contents .course-card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

.course-contents .course-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.course-contents .course-card .category {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.course-card .category img {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    right: 15px;
    top: -50%;
    outline: 2px solid var(black);
    outline-offset: 3px;
}

.course-card .category .subject {
    padding: 8px 10px;
    background-color: #12c2b9;
    border-radius: 5px;
}

.course-card .category .subject h3 {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-align: center;
    align-items: center;
    align-content: center;
}

.course-card .cousre-title {
    font-size: 20px;
    color: black;
}

.course-card .course-desc {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.course-card .course-desc span {
    font-size: 14px;
    font-weight: 500;
    color: brown;
}

.course-card .course-desc span i {
    color: black;
}

.course-card .course-ratings {
    padding: 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ccc;
}

.course-card .course-ratings span {
    color: var(black);
    font-size: 18px;
    font-weight: bold;
}

.course-card .course-ratings span:nth-child(1) i {
    color: gold;
    font-size: 14px;
}

.course-card .course-ratings span b {
    font-size: 24px;
}
button.Enroll-btn{
   
        padding: 8px 16px;
        background-color: #c62323;
        color: #fff3f3;
        font-size: 15px;
        border: 1px solid transparent;
        border-radius: 10px;
        cursor: pointer;
        margin-top:5px;
    
}
/*courses section ends*/



/*category section starts*/
section.categories {
    width: 100%;
    padding: 100px 10% 20px;

}

.categories .categories-contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories-contents .category-item {
    flex-basis: calc(calc(100% / 4) - 1%);
    background-color: #8de4e0;
    padding: 25px 15px;
    border-radius: 5px;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 12px;
    
}

.categories-contents .category-item:hover {
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-9px);
}

/* .category-item .category-icon{
    width:50px;
    height:50px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#06877e;
} */
.category-item .category-icon i {
    color: black;
    font-size: 20px;
}

/*-------*/
.category-item .category-icon img {
    height: 100px;
    border-radius: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:#06877e; */
    border: 2px solid black;
}


/*-------*/
.category-item .category-desc h3 {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.category-item .category-desc p {
    color: black;
    font-size: 15px;
    line-height: 1.4;
}

/*category section ends*/

/*----teacher section starts----*/
section.instructor {
    width: 100%;
    padding: 100px 8% 20px;
}

.instructor .instructor-container {
    width: 100%;
    padding: 70px 8%;
    background-color: #8de4e0;
    border-radius: 0px 100px 0px 100px;
    border: 2px solid black;
}

.instructor-container h2 {
    font-size: 25px;
    color: black;
}

.instructor-container p {
    margin: 25px 0px 40px;
    font-size: 16px;
    color: var(black);
}

.instructor-container img {
    margin-left: 18rem;
    height: 250px;
    border: 3px solid black;


}

.instructor-container .teacher-btn {
    background-color: #dbfffe;
    border: 2px solid black;
}

.instructor-container .teacher-btn:hover {
    background-color: #12c2b9;
}

/*----teacher section ends------*/


/*review section starts*/

.testimonials {
    padding: 40px 0;
    background-color: #dcf4f3;
    color: black;
    text-align: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    justify-content: space-between;


}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background-color: #ccc;
    margin: 26px auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
    border: 2px solid black;
}

.testimonials .inner h1 {
    color: black;
    text-decoration: underline(#12c2b9);
}

.col:hover {
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-3px);
}

.testimonial {
    background-color: #8de4e0;
    padding: 30px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: gold;
    margin-bottom: 20px;
}

/*review section ends*/

/*==================================================*/
/* information section starts*/
















/* information section ends*/

 
 
/*==================================================*/

/*footer section starts*/

.footer {
    width: 100%;
    padding: 30px 8% 30px;
    background: linear-gradient(to right, #12c2b9, #033535);
    color: black;
    border-top-left-radius: 130px;

    border-bottom-right-radius: 130px;
    border-bottom-left-radius: 90px;       /*this is remaining three sides curves */
    border-bottom-right-radius: 90px;
    border-top-right-radius:90px;

   
}

.footer .footer-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.footer-contents.footer-col {
    flex-basis: calc(calc(100% /4) - 20px);
}

.footer-contents .footer-col .col-title {
    min-height: 60px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.footer-col .col-title h3 {
    font-size: 24px;
    color: black;
}

.footer-col .col-title h3:hover {
    color: white;
    transition: all 0.3s;
    text-decoration: underline;
}

.footer-col .col-contents {
    display: flex;
    flex-direction: column;
}

.footer-col-1 .col-title img {
    width: 120px;
}

.footer-col-1 .col-contents p {
    color: black;
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 15px;
}

.footer-col-2 .col-contents .contact-row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.footer-col-2 .col-contents .contact-row span {
    color: black;
    font-size: 14px;
}

.footer-col-2 .col-contents .contact-row span:nth-child(1) {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}

.footer-col-2 .col-contents .contact-row span:hover {
    color: white;
    transition: all 0.3s;
}

.footer-col-3 .col-contents a {
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    align-self: flex-start;
    transition: all 0.3s;
    font-size: 17px;
}

.footer-col-3 .col-contents a:hover {
    letter-spacing: 2px;
    color: white;
}

.footer-col-4 .col-contents input {
    width: 67%;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.footer-col-4 .col-contents .img{
    width: 57%;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.footer-col-4 .col-contents .sub-btn{
   
    padding: 8px 16px;
    background-color: #c62323;
    color: #fff3f3;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    margin-top:5px;

}
.footer-col-4 .col-contents .newsletter .sub-btn:hover {

    background-color: rgb(231, 15, 15);
    color: white;
    border: 2px solid var(#a9e8e5);
}


.footer .copy-rights {
    padding: 25px 0px 0px;
    border-top: 2px solid var(--secondary);
    text-align: center;
}

.footer .copy-rights p {
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}

.footer .copy-rights p b {
    color: yellow;
}
.footer .copy-rights a{
    border: 1px solid #fff;
    font-size: 10px;
    background-color: #c62323;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;


}

/* footer section ends*/













/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*media query  section starts*/

/*-----home section-------*/
 @media(max-width:968px){
   
    .header{
        display:flex;
        margin-left:40px;
        z-index:101;
    
}
    .header .navbar a{
        position:fixed;
        width:100%;
        height:10vh;
        top:0;
        right:0;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color:#12c2b9;
        transition: right 0.3s cubic-bezier(.15, .61, .94, .25);
        z-index:100;

    }

    .header.navbar a{
            position:fixed;
            width:100%;
            height:100vh;
            top:0;
            right:0;
            display: flex;
            flex-direction:column;
            align-items: center;
            background-color: #12c2b9;
            transition: right 0.3s cubic-bezier(.15, .61, .94, .25);
            z-index:100;
    }

    .header.menu-btn.active span,
    .header.menu-btn.active span::before,
    .header.menu-btn.active span::after{
        width:100%;
    }
    .header.menu-btn.active span::before{
        transform: rotate(45deg) translateY(0px);
    }
    .header.menu-btn.active span::after{
        transform: rotate(-45deg) translateY(0px);

    }  
    .header.menu-btn.active span{
        background-color: transparent;
    }

    .banner{
        flex-direction: column-reverse;
        justify-content:flex-start ;
        align-items: flex-start;
    }
    .banner-desc,
    .banner-desc-img{
        align-self: center;
        margin-bottom: 50px;
    }
}


 @media(max-width:768px){
    .banner-img-container.states .total-courses{
        left:5px;
        bottom:10%;
    }
    .banner .banner-desc h2{
        font-size:42px;
    }
}

@media(max-width:668px){}

@media(max-width:568px){}

@media(max-width:468px){
    .banner-img.banner-img-container{
        width:100%;
    }
    .banner-desc.search-bar{
        width:100%;
    }
    .courses-ratings{
        top:30px;
        right:-10px;
    }
} 
 


/*media query section ends*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/