:root{
    --primary-color:#12c2b9;
    --secondary:#dbfffe;
    --black:#141414;
    --white:#fff;
    --box-shadow:0 .7rem 1rem rgba(0,0,0,0.6);
}

*{
    font-family:  'DM Sans',sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    width:100%;
    min-height:100vh;
    background-color: #dcf4f3;/*for whole body background color*/
}
/*button styling starts*/
button.btn{
    padding:10px 18px;
    background-color:  #dcf4f3;
    color:#12c2b9;
    font-size: 15px;
    border:1px solid transparent;
    border-radius: 5px;
    cursor:pointer;
    /* transition: all 0.3s; */
}
button.btn:hover{
    background-color: var(#12c2b9);
    color:black;
    border:1px solid var(#dcf4f3);
    transition: all 0.3s ease ;
    font-size:1.6rem;
    text-decoration:double underline;
    content:'';
    position:sticky;
     
}
/*button styling ends*/


html{
    font-size:75%;
    overflow-x:hidden;
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}
/*--- header section starts---*/
.header{
    position: fixed;
    top:0;left:0;right:0;
    z-index:1000;
    background:var(--white);
    box-shadow:var(--box-shadow);
    box-shadow:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 9%;
    background-color: #12c2b9;  /*---header color*/
    z-index: 100;
}
.header .logo{
    font-size:2.3rem;
    font-weight:bolder;
    color:black; /* learning with me */
}
.header-logo i{
    color:black;
    padding-right:.5rem;
}
.header .navbar a{
    font-size:1.7rem;
    color:black; /*for header words*/
    margin:0 1rem;
}
.navbar a:hover{
    transition: all .3s linear;
    color:blue;
    font-size:2rem;/*for header word size*/
    text-decoration:double underline;
    position:absolute;
    font-weight:10px;
    position: relative;
    max-width:max-content;
    width:100%;
    height:.5rem;
    border-block:.1rem solid var(blue);
    opacity: rgba(0,0,0,0.1rem);
    content:'';
    position:sticky;
    top:calc(100% +2px);
    transform: scaleX(1);
}
.get-started-btn{
    background-color: #12c2b9;
    color:#dbfffe;
}
.get-started-btn:hover{
    background-color:#dcf4f3;
    color:#dbfffe;
    border:1px solid var(--primary-color);
    border:0.2rem solid black;
}
.menu-btn{
    min-width:30px;
    width:30px;
    height:30px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color:#033535;
    display:none; /*that icon beside get started*/
}
.menu-btn span{
    position:relative;
    display:block;
    width:100%;
    height:2px;
    background-color: #dbfffe;
    border-radius:5px;
    transition: all 0.4s;
}
.menu-btn span::before,
.menu-btn span::after{
    position:absolute;
    content: '';
    top:0;
    left:0;
    width:80%;
    height:100%;
    background-color: #dbfffe;
    transition: all 0.4s;

}
.menu-btn span::before{
    transform:translateY(-9px);
}
.menu-btn span::after{
    transform:translateY(9px);
}
