:root{
    --primary-color:#12c2b9;
    --secondary:#dbfffe;
    --black:#141414;
    --white:#fff;
    --box-shadow:0 .7rem 1rem rgba(0,0,0,0.6);
}

*{
    font-family:  'DM Sans',sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    width:100%;
    min-height:100vh;
    background-color: #dcf4f3;/*for whole body background color*/
}
/*button styling starts*/
button.btn{
    padding:10px 18px;
    background-color:  #dcf4f3;
    color:#12c2b9;
    font-size: 15px;
    border:1px solid transparent;
    border-radius: 5px;
    cursor:pointer;
    /* transition: all 0.3s; */
}
button.btn:hover{
    background-color: var(#12c2b9);
    color:black;
    border:1px solid var(#dcf4f3);
    transition: all 0.3s ease ;
    font-size:1.6rem;
    text-decoration:double underline;
    content:'';
    position:sticky;
     
}
/*button styling ends*/


html{
    font-size:75%;
    overflow-x:hidden;
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}
/*--- header section starts---*/
.header{
    position: fixed;
    top:0;left:0;right:0;
    z-index:1000;
    background:var(--white);
    box-shadow:var(--box-shadow);
    box-shadow:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 9%;
    background-color: #12c2b9;  /*---header color*/
    z-index: 100;
}
.header .logo{
    font-size:2.3rem;
    font-weight:bolder;
    color:black; /* learning with me */
}
.header-logo i{
    color:black;
    padding-right:.5rem;
}
.header .navbar a{
    font-size:1.7rem;
    color:black; /*for header words*/
    margin:0 1rem;
}
.navbar a:hover{
    transition: all .3s linear;
    color:blue;
    font-size:2rem;/*for header word size*/
    text-decoration:double underline;
    position:absolute;
    font-weight:10px;
    position: relative;
    max-width:max-content;
    width:100%;
    height:.5rem;
    border-block:.1rem solid var(blue);
    opacity: rgba(0,0,0,0.1rem);
    content:'';
    position:sticky;
    top:calc(100% +2px);
    transform: scaleX(1);
}
.get-started-btn{
    background-color: #12c2b9;
    color:#dbfffe;
}
.get-started-btn:hover{
    background-color:#dcf4f3;
    color:#dbfffe;
    border:1px solid var(--primary-color);
    border:0.2rem solid black;
}
.menu-btn{
    min-width:30px;
    width:30px;
    height:30px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color:#033535;
    display:none; /*that icon beside get started*/
}
.menu-btn span{
    position:relative;
    display:block;
    width:100%;
    height:2px;
    background-color: #dbfffe;
    border-radius:5px;
    transition: all 0.4s;
}
.menu-btn span::before,
.menu-btn span::after{
    position:absolute;
    content: '';
    top:0;
    left:0;
    width:80%;
    height:100%;
    background-color: #dbfffe;
    transition: all 0.4s;

}
.menu-btn span::before{
    transform:translateY(-9px);
}
.menu-btn span::after{
    transform:translateY(9px);
}
/*banner section starts*/
.banner{
    width:100%;
    min-height:100vh;
    padding:100px 8% 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner.banner-desc{
    position:relative;
    flex-basis:50%;
    max-width:700px;
    z-index:2;
}
.banner-desc h2{
    font-size:35px;
    color:black;
    letter-spacing: 1.4;
    margin-bottom:10px;
}
.banner-desc p{
    color:black;
    line-height:1.4;
    margin-bottom:50px;
}
.banner-desc.search-bar{
    position:relative;
    width:450px;
    height:55px;
    display:flex;
    align-items: center;
    overflow: hidden;
}
.banner-desc .search-bar input{
    width:45%;
    height:50%;
    padding:0px 65px 0px 20px;
    font-size:18px;
    letter-spacing: 2px;
    background-color:#12c2b9;
    color:#dbfffe;
    border:3px solid black;
    outline-color:#dbfffe;
}
/* .banner-desc .search-bar i{
    position: absolute;
    height: 30%;
    width:40px;
    background-color:black;  
    margin-right:10%;
    color:black;                    correct this portion of serach bar later
    border-radius:0px 5px 5px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
} */

.banner.banner-img{
    position:relative;
    flex-basis:50%;
    display:flex;
    justify-content: flex-end;
    z-index:1;
    margin-top:4000rem;
  
}
.banner-img.banner-img-container{
    position: relative;
    width:100px;
    z-index:2;
 

}
.banner-img.banner-img-container img{
    width:90%;
    height:auto;
    border-style:1.5rem solid black;
}

.banner-img.banner-img-container .states{ 
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.total-courses{
    position: absolute;
    padding:6px 10px 6px 6px;
    background-color:#12c2b9;
    border-radius:5px;
    border:0.2rem solid black; 
    bottom:9%;
    left:550px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgba(26, 91, 89, 0.2);
   
}
.icon{
    width:50px;
    height:40px;
    border-radius:50%;
    border:0.2rem solid black; 
    font-size:13px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #12c2b9;
    margin-right:7px;
}

.states.total-courses .icon i{
    font-size:22px;
    color:#12c2b9;
}
.states.total-courses .desc{
    display: flex;
    flex-direction:column;
}
.states.total-courses .desc span:nth-child(1){
    font-size:24px;
    font-weight: 600;
    letter-spacing:1px;
    margin-bottom:2px;
}

.states.total-courses .desc span:nth-child(2){
    font-size:15px;
    color:#12c2b9;
}
.courses-ratings{
    position:absolute;
    width:90px;
    height:90p;
    padding:10px;
    margin-top:6rem;
    margin-right: 9rem;;
    border-radius:50px;
    background-color: #12c2b9;
    display: flex;
    border:0.2rem solid black; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:80px;
    right:5px;
    box-shadow:0px 0px 15px 0px rgba(0,0,0,0.3);
}


.courses-ratings span:nth-child(1){
    color:black;
    font-size:20px;
    font-weight: 600;
    text-align:center;
}
.courses-ratings span:nth-child(1) i{
    color:gold;
    font-size: 14px;
}
.courses-ratings span:nth-child(2){
    color:black;
    font-size:15px;
    text-align:center;
}
.pattern{
    position:absolute;
    top:100px;
    left:500px;
    z-index: -1;
}
.pattern img{
    width:200px;
    height:auto;
    opacity: 0.4;
}


/*banner section ends*/


 /*media query  section starts*/

             /*-----home section-------*/
/* @media(max-width:968px){
   
    .header{
        display:flex;
        margin-left:40px;
        z-index:101;
    
}
    .header .navbar a{
        position:fixed;
        width:100%;
        height:10vh;
        top:0;
        right:0;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color:#12c2b9;
        transition: right 0.3s cubic-bezier(.15, .61, .94, .25);
        z-index:100;

    }

    .header .navbar a{
            position:fixed;
            width:100%;
            height:100vh;
            top:0;
            right:0;
            display: flex;
            flex-direction:column;
            align-items: center;
            background-color: #12c2b9;
            transition: right 0.3s cubic-bezier(.15, .61, .94, .25);
            z-index:100;
    }

    .header.menu-btn.active span,
    .header.menu-btn.active span::before,
    .header.menu-btn.active span::after{
        width:100%;
    }
    .header.menu-btn.active span::before{
        transform: rotate(45deg) translateY(0px);
    }
    .header.menu-btn.active span::after{
        transform: rotate(-45deg) translateY(0px);

    }  
    .header.menu-btn.active span{
        background-color: transparent;
    }

    .banner{
        flex-direction: column-reverse;
        justify-content:flex-start ;
        align-items: flex-start;
    }
    .banner-desc,
    .banner-desc-img{
        align-self: center;
        margin-bottom: 50px;
    }
}


 @media(max-width:768px){
    .banner-img-container.states .total-courses{
        left:5px;
        bottom:10%;
    }
    .banner .banner-desc h2{
        font-size:42px;
    }
}

@media(max-width:668px){}

@media(max-width:568px){}

@media(max-width:468px){
    .banner-img.banner-img-container{
        width:100%;
    }
    .banner-desc.search-bar{
        width:100%;
    }
    .courses-ratings{
        top:30px;
        right:-10px;
    }
} 
 */


/*media query section ends*/
